*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    padding: 0;

    margin:0;
    font-size:18px;
    background: white;
}
.footer{
    background: rgb(63, 59, 59);
    margin: 0;
    padding: 0;
}
.wrap{
    color:white;
    background:none;
    margin:10px;
}
.menu{
    width: 100%;
    height: 40px;
}

ul.parent > li{
    float: left;
    list-style: none;
    position: relative;
    margin-left: 120px;
}
ul.parent > li > a{
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    line-height: 40px;
    display: block;
    color: rgb(20, 10, 75);
}
.active, ul.parent > li > a:hover{
    /* color: rgb(236, 250, 246); */
    /* background: rgb(72, 148, 248); */
    transition: 0.3s;
    border-bottom: 2px solid rgb(20, 10, 75);
}
ul.submenu {
    width: 180px;
    color: cyan;
    min-height: 150px;
    display: none;
    position: absolute;
    z-index: 10;
}
ul.submenu li {
    list-style: none;
}
ul.submenu li a{
    text-decoration: none;
    display: block;
    border-bottom: 1px solid rgb(20, 10, 75);
    line-height: 40px;
    text-indent: 10px;
    color: rgb(20, 10, 75);
}
ul.submenu li a:hover {
    color: rgb(236, 250, 246);
    background: rgb(72, 148, 248);
    border-radius: 3px solid rgb(93, 218, 240);
}
ul.parent > li:hover ul.submenu {
    display: block;
}
ul {
    list-style: none;
}
ul ul {
    display: none;
}
ul.droplow.show{
    display: block;
}
ul.droplow1.show1{
    display: block;
}
ul.droplow2.show2{
    display: block;
}
ul.droplow3.show3{
    display: block;
}
ul.droplow4.show4{
    display: block;
}
li{
    display: block;
}
.col-3 ul li a {
    text-decoration: none;
}
ul.sub {
    margin-left: 10px;
    text-indent: 10px;
}
.sidebar{
    background:none;
    width: 100%;
    height: 100%;
    margin-left:10px;
}
.sidebar header{
    text-align: center;
    font-size: 20px;
}
.sidebar ul a{
    display: block;
    text-decoration: none;
    height: 100%;
    line-height: 50px;
    font-size: 15px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: 0.5s;
}
.sidebar ul li a:hover{
    padding-left: 20px;
    color:whitesmoke;
    border-top: 1px solid blue;
    background: rgb(75, 75, 248);
}
.box{
    margin-bottom: 30px;
    position: relative;
}
.card{
    font-size: 18px;
    margin: auto;
    height: 97%;
    background: linear-gradient(45deg, #40b2f5,#ffbc00 );
    filter: brightness(20px);
}
.card-body{
    margin: 5px;
    padding: 3px;
}
.container .box .card:hover{
    border:2px solid wheat ;
    transform: translateY(-20px);
}

.di{
    padding:5px;
    margin: 5px;
}
.loginbox{
    position:absolute;
}
.loginbox h1{
    font-size:40px;
    border-bottom:3px solid #66ff66;
    padding:10px 0;
    margin-bottom:50px;
}



